
                           /* Media for 845px */

@media (max-width: 845px) {
   .div-background-white{
      position: relative;
      top: 27px;
      left:0;
      display: flex;
      justify-content: center;
      width:90%;
      height: 61.05%;
      background-color: white;
      border: 2px solid #E0E0E0;
      border-radius: 20px;
      z-index: 1;
    }

    .div-background-white-files {
      position: absolute;
      top: 30px;
      width: 84.13%;
      height: 71.67%;
    }

}
 

                           /* Media for 768px */

   @media (max-width: 768px) {

      html {
         font-size: 15px;
      }

      header {
       z-index: 0;
       height: 110%;
      }
      

      .burger {
         display: flex;
         margin: 30px 20px 0 0;
      }


      .nav.open {
         display: flex;
         justify-content: start;
         align-items: self-start;
         width: 100%;
         height: 100vh;
         position: fixed;
         top: 0; bottom: 0; left: 0; right: 0;
         z-index:50;
         overflow-y:auto;
         padding: 50px 40px;
         background-color: black;
      }

      .nav ul {
         display: none;
      }

      .nav.open ul {
         display: flex;
         justify-content: center;
         flex-direction: column;
         row-gap: 30px;
      }

      .nav ul li {
         font-family: "Jost";
         font-style: normal;
         font-weight: 400;
         color: black;
         list-style: none;
         padding: 0 0 20px 0;
         font-size: 1.2rem;
       }

       ul li:last-child {
         color: #ffffff;
         font-weight: 500;
         display: flex;
         justify-content: center;
         align-items: center;
         width:127px;
         height: 56px;
         border-radius: 6px;
         background-color: #303030; ;
         padding: 0;
       }

       .burger.active {
         position: absolute;
         right: 10px;
       }


     .overall-image {
         display: contents;
     }

     .overall-image-2 {
         position: relative;
         left:5.68%;
         aspect-ratio: 1;
         width: 90%;
         margin: 34.57px 0 20px 0;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #100342;
         border-radius: 20px;
         image-rendering:crisp-edges;
     }

     .overall-image-2 .opacity0 {
         opacity:0
     }

     .overall-image-2 img {
         position: absolute;
         top:4.44%;
         left: 10px;
         width: 85%;
         height: 90%;
         object-fit: cover;
         opacity:1;
         transition: all ease 1s;
         border-radius: 10px;
         /* left:22%; */
        
     }

     .btn-switch {
         display:block;
         position: absolute;
         right: 3%;
         width: 7.23%;
         height: 7.23%;
         border: 3px solid rgb(0, 0, 0);
         background-color: #E0E0E0;
         border-radius: 90%;
     }



      .CRM-left {
         display: none;
      }

      .CRM-right {
         display: none;
      }

      main {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         position: relative;
         background-color: #FFFFFF;
         min-width:100%;
         min-height: 1000px;
         overflow-x: hidden;
         z-index: -1;
      }


      .left-main-div {
         margin: 30px 0 0 4.9775%;
      }


      .left-main-div-VF {
         display: flex;
         /* align-self: flex-start; */
         margin: 0 0 29.62px 0;
         height: 6.3125rem;
         width: 20.21125rem ;
      }
      
      .V {
         width: 5.9125rem;
         height: 5.9125rem;
      }
      
      .left-main-div-text {
         margin: 0 0 0 20px;
         max-height: 86.31px;
      }
      
      .left-main-div-text h3 {
         padding: 0 0 6.31px 0;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 600;
         font-size: 1.5625rem
      }
      
      .left-main-div-text p {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 1.25rem;
         min-width: 19.5rem;
         min-height: 48px;
      }
      
      
      
      .follow {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 700;
         font-size: 1.5625rem;
      }
      
      .instagram {
         display: flex;
         margin: 12px 0 0 0;
      }
      
      .instagram-logo {
         width: 3.125rem;
         height: 3.125rem;
         margin-top: 19px;
      }
      
      .instagram-text {
         margin: 0 0 0 2.8125rem;
      }
      
      .instagram-link {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 600;
         font-size: 1.25rem;
         line-height: 24px;
         color: #0D161A;
         text-decoration: underline;
         text-underline-offset: 0.3rem;
      }
      
      .instagram-link::after {
         content: url(img/Vector\ \(3\).svg);
         height: 0.75rem;
         width: 0.75rem;
         padding-left: 0.63rem;
         background-color: #FFFFFF;
      }
      
      .instagram-text-text {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 1.125rem;
         line-height: 22px;
         color: #646E79;
         margin: 11px 0 0 0;
         padding-right: 29.4px;
      }
      
      
      .twitter {
         display: flex;
         margin: 29px 0 0 0;
      }
      
      .twitter-logo {
         margin: 17px 0 0 0;
         width: 3.84625rem;
         height: 3.125rem;
      }
      
      .twitter-text {
         margin: 0 0 0 1.71625rem;
      }
      
      .twitter-link {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 600;
         font-size: 1.25rem;
         line-height: 24px;
         color: #0D161A;
         text-decoration: underline;
         text-underline-offset: 0.3rem;
      }
      
      .twitter-link::after {
         content: url(img/Vector\ \(3\).svg);
         height: 0.75rem;
         width: 0.75rem;
         padding-left: 0.63rem;
         background-color: #FFFFFF;
      }
      
      .twitter-text-text {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 1.125rem;
         line-height: 22px;
         color: #646E79;
         margin: 11px 0 0 0;
         padding-right: 29.4px;
      }
      
      .linkedin {
         display: flex;
         margin: 30px 0 0 0;
      }
      
      
      .linkedin-logo {
         margin: 19px 0 0 0;
         width: 3.125rem;
         height: 3.125rem;
      }
      
      .linkedin-text {
         margin: 0 0 0 2.8125rem;
      }
      
      .linkedin-link {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 600;
         font-size: 1.25rem;
         line-height: 24px;
         color: #0D161A;
         text-decoration: underline;
         text-underline-offset: 0.3rem;
      }
      
      .linkedin-link::after {
         content: url(img/Vector\ \(3\).svg);
         height: 0.75rem;
         width: 0.75rem;
         padding-left: 0.63rem;
         background-color: #FFFFFF;
      }
      
      .linkedin-text-text {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 1.125rem;
         line-height: 22px;
         color: #646E79;
         margin: 11px 0 0 0;
         padding-right: 29.4px;
      }



      .div-background-black {
      display: none;
      }

      .right-main-div {
         position: relative;
         top:-5px;
         margin: 0 0 0 0;
         width: 91.75%;
         min-width: 350px;
         min-height: 45%;
      }
      
      .right-main-div h1 {
         display: flex;
         justify-content: center;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 700;
         font-size: 2.25rem;
         margin: 30px 0 0 0; 
      }

      .div-background-white{
         position: relative;
         top: 10px;
         left:0;
         display: flex;
         justify-content: center;
         align-items: center;
         width:100%;
         min-width: 300px;
         height: 81.05%;
         max-height: 400px;
         background-color: #FFFFFF;
         border: 2px solid #E0E0E0;
         border-radius: 20px;
         z-index: 1;
      }
      
      .div-background-white-files {
         position: absolute;
         width: 84.13%;
         height: 71.67%;
      }

      .figma-files {
         display: flex;
      }
      
      .figma-logo {
         height: 5rem;
         width: 5rem;
      }
      
      .figma-text {
         margin: 0 0 0 15px;
      }
      
      .figma-text-big {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 500;
         font-size: 1.5625rem;
         color: #0D161A;
      }
      
      .figma-text-big span {
         color: #4353FF;
         font-weight: 700;
      }
      
      .figma-text-mini {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 1.25rem;
         color: #646E79;
         margin: 10px 0 0 0;
      }
      
      .webflow-logo {
         height: 5rem;
         width: 5rem;
      }
      
      .webflow-files {
         display: flex;
         margin: 41px 0 0 0;
      }
      
      
      .webflow-text-big {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 700;
         font-size: 1.5625rem;
         line-height: 30px;
         color: #0D161A;
      }
      
      .webflow-text {
         margin: 0 0 0 15px;
      }
      
      
      .get-template {
         display: flex;
         flex-direction: column;
         margin: 23px 15px 0 7px;
         max-width: 95.34%;
         height: 18.58%;
         background-color: #4353FF;
         border-radius: 10px;
      }
      
      .get-template-link {
         display: flex;
         justify-content: center;
         margin: 12px 0 0 0;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 600;
         font-size: 1.375rem;
         text-align: center;
         color: #FFFFFF;
      }
      



      section {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         min-width: 100%;
         overflow-x: clip;
      }

         .images {
            margin: 0 0 0 1.9775%;
         }
         
         .images h1 {
            display: flex;
            justify-content: center;
            /* padding-left: 4px; */
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 48px;
            color: #202020;
         }
         
         
         .pexels {
            display: flex;
            flex-direction: row;
            margin: 20px 0 0 0;
            /* border: 2px solid black;
            border-radius: 10px; */
         }
         
         .pexels-block {
            margin: -2px 0 0 0;
            display: flex;
            align-items: center;
         }
         
         .pexels-logo {
            width: 3.0rem;
            height: 3.0rem;
         }
         
         .pexels-link {
            margin: 0 0 0 11px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 24px;
            color: #000000;
            text-decoration: underline 0.095rem;
            text-underline-offset: 0.25rem;
         }
         
         .pexels-link::after {
            content: url(img/Vector\ \(3\).svg);
            height: 0.75rem;
            width: 0.75rem;
            padding-left: 0.63rem;
            background-color: #FFFFFF;
         }
         
         .pexels-text {
            margin: 0 0 0 35px;
            max-width: 50%;
            /* max-width: 270px; */
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 24px;
            color: #646E79;
         }
         
         .pexels-text a {
            color:#000000;
            font-weight: 500;
         }
         
         
         .unsplash {
            display: flex;
            flex-direction: row;
            margin: 30px 0 0 0;
            /* border: 2px solid black;
            border-radius: 10px; */
         }
         
         .unsplash-block {
            margin: -2px 0 0 0;
            display: flex;
            align-items: center;
         }
         
         .unsplash-logo {
            width: 3.0rem;
            height: 3.0rem;
         }
         
         .unsplash-link {
            margin: 0 0 0 11px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 24px;
            color: #000000;
            text-decoration: underline 0.095rem;
            text-underline-offset: 0.25rem;
         }
         
         .unsplash-link::after {
            content: url(img/Vector\ \(3\).svg);
            height: 0.75rem;
            width: 0.75rem;
            padding-left: 0.63rem;
            background-color: #FFFFFF;
         }
         
         .unsplash-text {
            margin: 0 0 0 10px;
            max-width: 50%;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 24px;
            color: #646E79;
         }
         
         .unsplash-text a {
            color:#000000;
            font-weight: 500;
         }
         


         .fonts-jost {
            margin: 20px 0 0 1.9775%;
            min-width: 94%;
         }
         
         .fonts-jost h1 {
            display: flex;
            justify-content: center ;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 48px;
         }
         
         .opensans-jost {
            display: flex;
            flex-direction: column;
            align-self: start;
         }

         .opensans {
            margin: 20px 0 0 0;
         }
         
         .opensans-block {
            display: flex;
         }
         
         .opensans-logo {
            width: 2.8125rem;
            height: 2.1925rem;
         }
         
         .opensans-link {
            margin: 0 0 0 21px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 146.5%;
            color: #000000;
            text-decoration: none;
         }
         
         .opensans-link::after {
            content: url(img/Vector\ \(3\).svg);
            height: 0.75rem;
            width: 0.75rem;
            padding-left: 0.63rem;
            background-color: #FFFFFF;
         }
         
         .opensans-text {
            margin: 19.92px 0 10px 0;
            max-height: 24px;
            /* max-width: 90%; */
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 24px;
            color:#646E79;
         }
         
         .opensans-text a {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            color:#000000;
         }
         
         
         
         .jost {
            margin: 30px 0 0 0;
         }
         
         .jost-block {
            display: flex;
         }
         
         .jost-logo {
            width: 2.8125rem;
            height: 2.1925rem;
         }
         
         .jost-link {
            margin: 0 0 0 21px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 146.5%;
            color: #000000;
            text-decoration: none;
         }
         
         .jost-link::after {
            content: url(img/Vector\ \(3\).svg);
            height: 0.75rem;
            width: 0.75rem;
            padding-left: 0.63rem;
            background-color: #FFFFFF;
         }
         
         .jost-text {
            margin: 19.92px 0 0 0;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 24px;
            color:#646E79;
         }
         
         .jost-text a {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            color:#000000;
         }
         
         footer {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 100%;
            background: #000000;
            /* min-height: 70px; */
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 119.1%;
            color:#FFFFFF;
            margin-top: 50px;
         }

      }
   


     


      



      

      


      

      



